.container-fluid
  .row
    .col-md-12
      %h3.text-center
        Оборудование для киосков
      %form.form-horizontal{:role => "form"}
        .form-group
          .col-sm-6.col-sm-offset-2
            %input.form-control{:type => "text"}/
          .col-sm-4
            %button.btn.btn-default{:type => "submit"}
              Найти
  .row
    - @products.each do |product|
      .col-md-3
        %h2= product.name
        %p= product.desc
        = link_to '#', class: 'btn' do
          %strong= product.company.name