.container-fluid{{"ng-controller" => "ProductsController as products"}}
  .row
    .col-md-12
      %h3.text-center
        Оборудование для киосков
      %form.form-horizontal{:role => "form"}
        .form-group
          .col-sm-6.col-sm-offset-2
            = text_field_tag nil, nil, class: "form-control", data: {"ng-model"=>"search.name"}
          .col-sm-4
            %button.btn.btn-default{{"ng-click"=>"products.searchByName(search.name)"}}
              Найти

  .row{{"ng-if"=>"products.products_list"}}
    .col-md-3{{"ng-repeat"=>"product in products.products_list"}}
      %h2 {{product.name}}
      %p {{product.desc}}
      %a{:href => "/", class: "btn"}
        %strong {{product.company.name}}

  .row{{"ng-if"=>"!products.products_list.length"}}
    .col-md-12
      %h2 Товары не найдены