.container-fluid
  .row
    .col-md-12
      %h3.text-center
        Оборудование для киосков
      %form.form-horizontal{:role => "form"}
        .form-group
          .col-sm-6.col-sm-offset-2
            %input.form-control{:type => "text"}/
          .col-sm-4
            %button.btn.btn-default{:type => "submit"}
              Найти
  .row
    .col-md-3
      %h2
        Купюроприемник
      %p
        Купюроприемник Creator C100 является сертифицированным устройством ЦБ России устройством для приема наличных денег в устройствах самообслуживания.
      %p
        %a.btn{:href => "#"}
          %strong Терминальные системы
    .col-md-3
      %h2
        Модем
      %div
        Трехдиапазонный (900/1800/2100 МГц) GSM-модем iRZ TU31 предназначен для передачи данных по сетям сотовой связи 2G и 3G.
      %p
        %a.btn{:href => "#"}
          %strong Терминальные системы
    .col-md-3
      %h2
        Клавиатура
      %p
        Применение Pinpad SZZT ZT596F: Банкоматы, терминалы самообслуживания, информационные киоски, платежные терминалы
      %p
        %a.btn{:href => "#"}
          %strong Киоск-сервис
    .col-md-3
      %h2
        Термопринтер
      %p
        Компактный киоск принтер Nippon NP-F209 от японского производителя Nippon Primex. Киоск принтер находится в бюджетном сегменте, поэтому одним из преимуществ модели NP-F209 является низкая цена.
      %p
        %a.btn{:href => "#"}
          %strong Киоск-сервис
